:root {
  --main-text-color: #8e9191;
  --important-color: #f14835;
  --important-fade: #f148359a;
  --title-color: #b7b9b7;
  --background-color: #1c1e23;
  --progress-bar-color: #3c3c4a;
  
}

html {
  scroll-behavior: smooth;
}

body {
  width: 100%;
  min-width: 320px;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  background-color: var(--background-color);
}

.header-style-block {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 150px;
  height: 150px;
  background-color: var(--important-color);
}

.wrapper {
  margin: 0 auto;
  width: 1000px;
}

header {
  position: relative;
  padding-top: 200px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.burger-menu {
  position: absolute;
  top: 100px;
  left: 200px;
  width: 800px;
  height: 50px;
}

.burger__list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.burger__link {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: var(--important-color);
  text-decoration: none;
}

.avatar {
  width: 200px;
  height: 100%;
  padding: 1px;
  box-sizing: border-box;
  border: 0.5px solid #FFFFFF ;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.name-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  width: 350px;
  height: 150px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: normal;
  line-height: 130%;
  color: var(--important-color);
}

h1 span {
  font-weight: 400;
}

.name-subtitle {
  margin-top: 5px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--main-text-color);
  text-transform: uppercase;
}

.contacts-wrapper {
  width: 350px;
}

.contacts {
  height: 100px;
}

.contact-item {
  height: 35px;
  display: flex;
  align-items: center;
  list-style: none;
}

.contact-link {
  margin-left: 10px;
  display: inline-block;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: var(--main-text-color);
}

.icon-link {
  display: flex;
  align-self: center;
  fill: var(--important-color)
}

.icon-link:hover {
  fill: #FFFFFF;
}

/* Main section */
.h2-title {
  padding-bottom: 25px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--title-color);
}

.h3-title {
  display: inline-block;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: var(--important-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.h3-subtitle {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #eeeeec;
  text-transform: uppercase;
}

.h4-title {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
}

.h5-title {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 15px;
  text-transform: uppercase;
  color: var(--important-color);
}

.h6-title {
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
}

.section-wrapper {
  margin-top: 30px;
  width: 45%;
  height: 100%;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text-color);
}

.section__container {
  position: relative;
  padding-left: 30px;
}

/* Decoration */
.section-side-border {
  position: absolute;
  top: 0;
  left: 7px;
  width: 1px;
  height: 100%;
  box-sizing: border-box;
  background-color: #CCCDCB;
}

.side-border__circle {
  position: relative;
  top: 10px;
  left: -7px;
  background-color: var(--background-color);
  border-top: 5px solid var(--background-color);
  border-bottom: 5px solid var(--background-color);
  border-radius: 50%;
  fill: var(--important-color);
}

/* Experience */

.exp__item {
  margin-top: 60px;
}

.exp__item:first-child {
  margin-top: 0;
}

progress {
  margin-top: 5px;
}

progress[value] {
  -webkit-appearance: none;
} 

progress[value]::-webkit-progress-bar {
  height: 7px;
  background-color: var(--progress-bar-color);
}

progress[value]::-webkit-progress-value {
  background-color: var(--important-color);
}

/* Language */
.language__item {
  margin-bottom: 15px;
}

.language__item:last-child {
  margin-bottom: 0;
}

.language__item p {
  font-size: 15px;
}

/* Code Example*/
.code .h4-title {
  color: var(--important-color);
  text-align: center;
}

/* Projects */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 100%;
}

.project__content {
  width: 100%;
}

.project__item {
  margin-top: 25px;
}

.project__item:first-child {
  margin-top: 0;
}

.project__item .h5-title{
  padding-bottom: 10px;
  text-align: center;
}

.project__img {
  width: 100%;
}

.technologies {
  margin-top: 5px;
}

.footer {
  position: relative;
  margin-top: 25px;
}

.footer__info {
  display: flex;
  justify-content: center;
}

.footer__logo {
  width: 200px;
  height: 100%;
}

.logo {
  width: 100%;
}

.footer__year {
  font-family: Open Sans, sans-serif;
  font-size: 75px;
  font-weight: 700;
  line-height: 90px;
  text-align: center;
}

.footer__git {
  height: 75px;
}

.footer__git img {
  height: 75px;
}

.footer-style-block {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 55px;
  height: 55px;
  background-color: var(--important-color);
}

@media only screen and (min-width: 320px) and (max-width: 768px) {
  .wrapper {
    width: 100%;
  }

  .header {
    padding-top: 120px;
    height: 100%;
    flex-direction: column;
  }

  .header-style-block {
    top: 0;
    width: 100%;
    height: 10%;
  }

  .burger-menu {
    left: 0;
    padding-bottom: 20px;
    width: 100%;
    height: 78vh;
    display: none;
    background-color: var(--background-color);
  }

  .burger__list {
    padding-bottom: 20px;
    flex-direction: column;
  }

  h1 {
    font-size: 45px;
    text-align: center;
  }

  .name {
    width: 100%;
    height: auto;
  }

  .name-subtitle {
    text-align: center;
  }

  .contacts-wrapper {
    margin-top: 20px;
    width: 90%;
    align-self: center;
  }

  .contacts {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .main {
    flex-flow: column;
    align-items: center;
  }

  .section-wrapper {
    width: 70%;
  }

  .code pre {
    font-size: 70%;
  }

  .footer {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
  }

  .footer-style-block {
    width: 100%;
  }

  .footer__info {
    justify-content: center;
    align-items: baseline;
  }

  .footer__logo {
    width: 40%;
  }

  .footer__year {
    font-size: 50px
  }

  .footer__git {
    width: auto;
  }

  .footer__git img {
    width: 100%;
  }
}
