:root {
  --main-text-color: #8e9191;
  --important-color: #f14835;
  --title-color: #b7b9b7;
  --background-color: #1c1e23;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background-color);
}

.header-style-block {
  position: absolute;
  top: 50px;
  left: 0px;
  width: 150px;
  height: 150px;
  background-color: var(--important-color);
}

.wrapper {
  width: 1000px;
}

header {
  position: relative;
  padding-top: 200px;
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.avatar {
  width: 200px;
  height: 100%;
  padding: 1px;
  box-sizing: border-box;
  border: 0.5px solid #FFFFFF ;
}

.avatar img {
  width: 100%;
  height: 100%;
}

.name-content-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.name {
  width: 350px;
  height: 150px;
}

h1 {
  font-family: Montserrat, sans-serif;
  font-weight: 700;
  font-size: 50px;
  font-style: normal;
  line-height: 130%;
  color: var(--important-color);
}

h1 span {
  font-weight: 400;
}

.name-subtitle {
  margin-top: 5px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  font-size: 15px;
  color: var(--main-text-color);
  text-transform: uppercase;
}

.contacts-wrapper {
  width: 350px;
}

.contacts {
  height: 100px;
}

.contact-item {
  height: 35px;
  display: flex;
  align-items: center;
  list-style: none;
}

.contact-link {
  margin-left: 10px;
  display: inline-block;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  color: var(--main-text-color);
}

.icon-link {
  display: flex;
  align-self: center;
  fill: var(--important-color)
}

.icon-link:hover {
  fill: #FFFFFF;
}

/* Main section */
.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
  justify-content: space-between;
}

.h2-title {
  padding-bottom: 25px;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  color: var(--title-color);
}

.h3-title {
  display: inline-block;
  font-family: Open Sans, sans-serif;
  font-weight: 700;
  font-size: 15px;
  color: var(--important-color);
  letter-spacing: 1px;
  text-transform: uppercase;
}

.h3-subtitle {
  font-family: Open Sans, sans-serif;
  font-weight: 400;
  font-size: 12px;
  color: #eeeeec;
  text-transform: uppercase;
}

.section-wrapper {
  margin-top: 30px;
  width: 45%;
  height: 100%;
  font-family: Open Sans;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--main-text-color);
}

.section__container {
  position: relative;
  padding-left: 30px;
}

/* Decoration */
.section-side-border {
  position: absolute;
  top: 0;
  left: 7px;
  width: 1px;
  height: 100%;
  box-sizing: border-box;
  background-color: #CCCDCB;
}

.side-border__circle {
  position: relative;
  top: 10px;
  left: -7px;
  background-color: var(--background-color);
  border-top: 5px solid var(--background-color);
  border-bottom: 5px solid var(--background-color);
  border-radius: 50%;
  fill: var(--important-color);
}

/* Experience */

.exp__item {
  margin-top: 60px;
}

.exp__item:first-child {
  margin-top: 0;
}



.tech-skills {
  padding-top: 10px;
  padding-left: 30px;
}

.language {
  padding-top: 10px;
  padding-left: 30px;
}

.soft-skills {
  padding-top: 10px;
  padding-left: 30px;
}

.code {
  max-width: 500px;
  margin-top: 30px;
  padding: 10px 0px;
  background-color: white;
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.code h3 {
  padding-top: 10px;
}

.code pre {
  padding: 5px;
  background-color: rgb(46, 45, 56);
  border-radius: 10%;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1rem;
  line-height: 110%;
  color: white;
}

.education {
  max-width: 500px;
  margin-top: 30px;
  padding: 10px 0px;
  background-color: white;
  border-radius: 5%;
}

.education h2 {
  text-align: center;
}

.education-list {
  padding-top: 10px;
  padding-left: 30px;
}

.education-list a {
  text-decoration: none;
}

.education-list a:visited {
  color: blue;
}

.eng {
  max-width: 500px;
  margin-top: 30px;
  padding: 10px 0px;
  background-color: white;
  border-radius: 5%;
  text-align: center;
}

.eng h2 {
  padding-bottom: 5px;
}

footer {
  display: flex;
  flex-direction: column;
}

.footer-info {
  margin-top: 10px;
  display: flex;
  justify-content: space-between;
}

.footer-logo {
  width: 200px;
  height: 100%;
}

.footer-year p{
  font-family: 'Roboto Mono', monospace;
  font-size: 75px;
  font-weight: 700;
  text-align: center;
}